.page {
  max-width: 880px;
  min-width: 320px;
  color: white;
  margin: 0 auto;
  padding: 45px 0 60px;
}

@media screen and (max-width: 920px) {
  .page {
    padding: 45px calc((100% - 582px)/2) 60px;
  }
}

@media screen and (max-width: 620px) {
  .page {
    padding: 28px 0 36px;
  }
}