.element__like-btn {
  background-image: url(../../../images/LikeBtnDis.svg);
  width: 22px;
  height: 19px;
  border: none;
  outline: none;
  padding: 0;
  background-size: contain;
  background-color: transparent;
}

.element__like-btn:hover {
  opacity: .5;
  cursor: pointer;
}