.popup__input {
  width: 358px;
  padding: 10px 4px 13px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

@media screen and (max-width: 525px) {
  .popup__input {
    width: 100%;
  }
}