.header {
  margin: 0 auto;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (max-width: 620px) {
  .header {
    max-width: 320px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding-bottom: 30px;
  }
}